@import url('https://fonts.googleapis.com/css?family=Nunito');

*, *:before, *:after {
  box-sizing: border-box;
}

a, button, input, textarea {
    outline: none!important;
}

body {
    font-family: 'Nunito', sans-serif;
    color: $white;
    font-size: 1em;

    display: flex;
    min-height: 100vh;

    font-weight: 300;
}

a {
    color: $blue;
    text-decoration: none;

    &:hover {
        color: $blue-light;
    }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-top: 2em;
}

article, section {
  margin-bottom: 1em;

  > h1,h2,h3,h4,h5,h6 {
    &:first-child {
      margin-top: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
/*p {
    font-size: 1.3em;
    font-weight: 400;
    margin-bottom: 2em;
}*/

.horizontal-line {
  float: left;
  display: block;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #CCCCCC;
  height: 1px;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.list__item__wrapper {
  list-style: none;
  font-size: 1.2em;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
  position: relative;

  &:before, &:last-child:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #CCCCCC;
    height: 1px;
  }

  .list__item {
    color: $black;
    height: 1.2em; /* exactly one line */
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: hidden;
  }
}

// for fading out a capped line of text
.fade-out {
  position: relative;
}

.fade-out:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    word-wrap: break-word;
}
