$bottom-menu-height: 80px;
$top-menu-height: 60px;

$blue: #75DDDD;
$green: $blue;

$blue-lighter: lighten($blue, 20%);
$blue-light: lighten($blue, 10%);
$blue-dark: darken($blue, 10%);

$grey: #508991;
$grey-dark: darken($grey, 10%);
$grey-darker: darken($grey, 20%);

$success: #55B387;

$red-light: #FB8A8C;
$red: #FC5D60;
$red-dark: #DA5255;

$white: #ffffff;
$white-dark: #f0f0f0;

$black: #172A3A;
$black-light: lighten($black, 10%);
$black-lighter: lighten($black, 20%);

$menu-width: 18%;

$font-main: "Open Sans", sans-serif;
$font-special: "Quicksand", sans-serif;

$input-border-radius: 12px;

$orange: #FFD54F;
