// Attention: You need to restart the server when adding new files here

@import 'global/normalize';
@import 'global/iconmoon';
@import 'global/var';
@import 'mixin';
@import 'global/helper';
@import 'global/global';
@import 'layout/grid';
@import 'layout/sections/helper';
@import 'layout/sections/logo';
@import 'layout/menu';
@import 'global/icons';
@import 'layout/section';
@import 'layout/sections/typeface';
@import 'layout/sections/hierarchy';
@import 'layout/sections/colors';
@import 'layout/sections/nav';
@import 'layout/sections/button';
@import 'layout/sections/link';
@import 'layout/sections/spelling';
@import 'layout/elements/form';
@import 'layout/elements/mediablock';
@import 'layout/responsive';

.page-enter-active, .page-leave-active {
  transition: transform 1s;
}

.page-enter-active {
  transform: translateX(0%);
}
.page-leave-active {
  transform: translateX(100%);
}

.page-enter{
  transform: translateX(-100%);
}

.page-enter, .page-leave-to {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
