.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    padding: 4em 2.9em 2em 2.9em;
    height: 100%;
    width: $menu-width;
    box-sizing: border-box;

    background: $blue;
    text-shadow: 1px 1px 0 $blue-dark;

    a {
        color: $white-dark;

        &:hover {
            color: $white;
        }
    }

    .logo {
        .logo__title {
            margin-bottom: 0;
            font-weight: 500;
        }

        .logo__subtitle {
            display: block;
            font-size: 1.25em;
            color: $blue-lighter;
            margin-bottom: 3em;
        }
    }

    .nav {
        ul {
            margin: 0;
            padding: 0;

            li {
                list-style-type: none;
            }
        }
    }

    .nav__category {
        margin-top: 3em;
        font-size: 0.75em;
        text-transform: uppercase;
        margin-bottom: 1em;
        color: $blue-lighter;
    }

    .nav__item {
        font-size: 1.25em;
        padding: .25em .5em;
        margin-bottom: .25em;
    }

    .nav__item--active {
        background-color: $blue-light;
        border-radius: 5px;
        text-shadow: none;
        transition: background-color 0.5s ease;
    }
}