@media (max-width: 1400px) {}
@media (max-width: 1200px) {}
@media (max-width: 992px) {}
@media (max-width: 768px) {
  #app {
    .header {
      padding: 1em;
    }
  }
}
@media (max-width: 576px) {
  #app {
    #page {
      margin: 0 1em;
    }
    .header {
      .header__title {
        font-size: 1.25em;
      }
    }
    .bottom-menu {
      height: 70px;

      .bottom-menu__list {
        .bottom-menu__list__item {
          font-size: 2.2em;

          .bottom-menu__list__item__name {
            display: none;
          }
        }
      }
    }
  }
}
