main {
  color: $black;
  flex: 1 1;
  margin-left: $menu-width;
}

.section {
  padding: 3em 3em 5em 6em;
  border-bottom: 1px solid $black-lighter;

  > h1 {
    margin-bottom: 2em;
  }

  &:first-of-type {
    margin-top: 0;
  }

  .section__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .section__description {
    width: 70%;
    margin-top: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.7em;
  }

  .section__container--buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2em;
  }

  .section__article {}

  .section__article--quart {
    flex: 0 0 25%;
  }

  .section__article--third {
    flex: 0 0 33.33%;
  }

  .section__article--half {
    flex: 0 0 50%;
  }

  .section__article--full {
    flex: 0 0 100%;
  }

  .section__article--rest {
    flex: 1 1;
  }
}