.btn__type {
  text-transform: uppercase;
  margin-bottom: 1em;
  font-size: 0.8em;
  align-self: center;

  .btn {
    font-size: 1.5em;
  }
}

.code__container {
  align-self: center;
}

.btn__container {
  display: flex;
  flex-direction: column;
}

.btn {
  font-family: $font-special;
  font-weight: 700;
  text-align: center;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 1em 2.8em;
  cursor: pointer;
  @include border-radius($input-border-radius);
  color: $blue;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  border: 2px solid $blue;
  background-color: transparent;

  &:focus {
    @include linearGradientVertical(rgba($blue-dark,0.15), rgba($blue, 0.1));
  }

  &:hover {
    color: $white;
    background-color: $blue;
  }

  &:active {
    @include linearGradientVertical($blue-dark, $blue);
  }

  [class^='icon-'] {
    font-size: 0.8em;
  }
}

.btn--secondary {
  border-color: $grey-dark;
  color: $grey-dark;

  &:focus {
    @include linearGradientVertical(rgba($grey-darker,0.15), rgba($grey-dark, 0.1));
  }

  &:hover {
    color: $white;
    background: $grey-dark;
  }

  &:active {
    @include linearGradientVertical($grey-darker, $grey-dark);
  }
}

.btn--red {
  border-color: $red;
  color: $red;
  background-color: $white-dark;

  &:focus {
    @include linearGradientVertical(rgba($red-dark,0.15), rgba($red, 0.1));
  }

  &:hover {
    color: $white;
    background: $red;
  }

  &:active {
    @include linearGradientVertical($red-dark, $red);
  }
}