.link{

  margin-bottom: 2em;
  .link__type{
    text-transform: uppercase;
    margin-bottom: 1em;
    font-size: 0.8em;
    align-self: center;
  }
  a{
    color: $blue;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $blue-light;
    }
  }
  .link--inline{
    display: inline;
    font-size: 90%;
  }

  .link--more{
    display: block;
  }
  p{
    margin-bottom: 1em;
  }
}
