.tom-logo {
  height: 100px;
  width: 130px;
  background-repeat: no-repeat;
  display: inline-block;
}

.tom-logo--blue {
  background-image: url("/assets/tom-logo-blue.svg");
}

.tom-logo--grey {
  background-image: url("/assets/tom-logo-grey.svg");
}

.tom-logo--s {
  height: 40px;
  width: 52px;
}

.tom-logo--l {
  height: 170px;
  width: 222px;
}

.logo__sizes {
  display: flex;
  align-items: baseline;

  .tom-logo {
    margin-right: 2em;
    margin-bottom: 3em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.example-badge {
  position: absolute;
  background-repeat: no-repeat;
  right: -15px;
  bottom: -15px;
  height: 50px;
  width: 50px;
  background-color: $white-dark;
  border-radius: 50%;
}

.example-badge--good {
  background-image: url("/assets/smiley-happy.svg");
}

.example-badge--bad {
  background-image: url("/assets/smiley-sad.svg");
}

.example {
  display: inline-flex;
  align-items: center;
  position: relative;
  background-color: $grey;
  padding: 2em;
  border-radius: 0.3em;
  margin-top: 3em;
  margin-right: 2em;

  &:last-child {
    margin-right: 0;
  }

  h1 {
    display: inline-block;
    align-self: center;
    color: $blue;
    margin-left: 1em;
    font-weight: 500;
  }
}

.example--blue-dark {
  background-color: $blue-dark;
}