.font {
  .font__type {
    text-transform: uppercase;
    margin-bottom: 2em;
    font-size: 0.8em;
  }

  .font__text {
    font-size: 3em;
  }

  .font__text--light {
    font-weight: 300;
  }

  .font__text--regular {
    font-weight: 400;
  }

  .font__text--bold {
    font-weight: 700;
  }

  .font__text--black {
    font-weight: 900;
  }

  .font__text--blue {
    color: $blue;
  }

  .font__text--grey {
    color: $grey;
  }
}


.font--sans {
  font-family: "Open Sans", sans-serif;
}