.btn {
  cursor: pointer;
  @include border-radius($input-border-radius);
  margin-top: 1em;
  text-align: center;
  font-family: $font-special;
  font-weight: 500;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0.6em;
  -o-text-overflow: clip;
     text-overflow: clip;
  border: 1.5px solid $blue;
  width: fit-content;
}

.btn--left {
  float: left;
}

.btn--right {
  float: right;
}

.btn--default {
  color: $blue;
  background-color: transparent;

  &:focus {
    @include linearGradientVertical(rgba($blue-dark,0.15), rgba($blue, 0.1));
  }

  &:hover {
    color: $white;
    background-color: $blue;
  }

  &:active {
    @include linearGradientVertical($blue-dark, $blue);
  }

  [class^='icon-'] {
    font-size: 0.8em;
  }
}

.btn--secondary {
  border-color: $grey-dark;
  color: $grey-dark;

  &:focus {
    @include linearGradientVertical(rgba($grey-darker,0.15), rgba($grey-dark, 0.1));
  }

  &:hover {
    color: $white;
    background: $grey-dark;
  }

  &:active {
    @include linearGradientVertical($grey-darker, $grey-dark);
  }
}

.btn--red {
  border-color: $red;
  color: $red;
  background-color: inherit;

  &:focus {
    @include linearGradientVertical(rgba($red-dark,0.15), rgba($red, 0.1));
  }

  &:hover {
    color: $white;
    background: $red;
  }

  &:active {
    @include linearGradientVertical($red-dark, $red);
  }
}

// switch
.switch-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 1.5em;

  p {
    margin: 0;
    margin-left: 1em;
    font-weight: 500;
    font-size: 1.1em;
  }
}

.switch {
    position: relative;
    width: 60px;
}
.switch__checkbox {
    display: none;
}
.switch__label {
    display: block;
    cursor: pointer;
    height: 27px;
    border-radius: 20px;
    background-color: rgba($blue, 0.4);
    transition: background-color 0.3s ease;
}
.switch__label:before {
    content: "";
    display: block;
    width: 27px;
    margin: 0px;
    background: $white;
    position: absolute; top: 0;
    bottom: 0;
    right: 33px;
    border: 3px solid rgba($blue, 0.4);
    border-radius: 100%;
    transition: all 0.3s ease 0s;
}
.switch__checkbox:checked + .switch__label {
    background-color: $blue;
}
.switch__checkbox:checked + .switch__label, .switch__checkbox:checked + .switch__label:before {
   border-color: $blue;
}
.switch__checkbox:checked + .switch__label:before {
    right: 0px;
}
