$blue: #0091EA;
$blue-lighter: #9fdaff;
$blue-light: #08ACF2;
$blue-dark: #2384bf;

$grey: #EAEAEA;
$grey-dark: #909090;
$grey-darker: #7b7b7b;

$red-light: #FB8A8C;
$red: #FC5D60;
$red-dark: #DA5255;

$green: #55B387;

$white: #ffffff;
$white-dark: #f0f0f0;

$black: #333;
$black-light: #8f8f8f;
$black-lighter: #ddd;

$menu-width: 18%;

$font-main: "Open Sans", sans-serif;
$font-special: "Nunito", sans-serif;

$input-border-radius: 12px;