.mediablock {
  .mediablock__image {
    float: left;
    margin: 1em 1em 1em 0;

    img {
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
    .mediablock__image__caption {
      font-size: 0.8em;
      color: $grey-dark;
      margin: 0;
      text-align: center;
    }
  }

  .mediablock__image--right {
    float: right;
    margin: 1em 0 1em 1em;
  }
}